# Stage 2 Test Result  

Platform:  
* OS: Linux 3.14.8-200.fc20.x86_64
* OS architecture: amd64  
* Java version: 1.8.0_40  
* Scala version: 2.11.8  
* Drive memory: 1 GB  

## Group 1  
* d = 50  
* k = 5  

Total run time:  182.659 s  
Executors: 2  
Cores: 4  
Total tasks: 60  
Task time (GC time): 9.4 min (2 s)  
Input cost: 311.3 MB  
Output cost: 175.8 KB  
Shuffle read: 4.1 MB  
Shuffle write: 8.2 MB  
Memory usage: 2.3 GB  
Total jobs: 11  

## Group 2  
* d = 100  
* k = 5  

Total run time: 565.539 s  
Executors: 2  
Cores: 4  
Total tasks: 60  
Task time (GC time): 31 min (2 s)  
Input cost: 311.3 MB  
Output cost: 175.8 KB  
Shuffle read: 8.1 MB  
Shuffle write: 16.2 MB  
Memory usage: 2.3 GB  
Total jobs: 11  

## Group 3  
* d = 50
* k = 10

Total run time: 196.298 s  
Executors: 2  
Cores: 4  
Total tasks: 60  
Task time (GC time): 11 min (2 s)  
Input cost: 311.3 MB  
Output cost: 175.8 KB  
Shuffle read: 4.1 MB  
Shuffle write: 8.2 MB  
Memory usage: 2.3 GB  
Total jobs: 11  

## Group 4  
* d = 100
* k = 10

Total run time: 609.134 s  
Executors: 2  
Cores: 4  
Total tasks: 60  
Task time (GC time): 36 min (2 s)  
Input cost: 258.6 MB  
Output cost: 175.8 KB  
Shuffle read: 8.1 MB  
Shuffle write: 16.2 MB  
Memory usage: 2.3 GB  
Total jobs: 11  

## Group 5  
* d = 50
* k = 5

Total run time: 137.044 s  
Executors: 4  
Cores: 8  
Total tasks: 68  
Task time (GC time): 11 min (2 s)  
Input cost: 288.1 MB  
Output cost: 175.8 KB  
Shuffle read: 6.1 MB  
Shuffle write: 8.2 MB  
Memory usage: 4.2 GB  
Total jobs: 11  

## Group 6  
* d = 100
* k = 5

Total run time: 319.514 s  
Executors: 4  
Cores: 8  
Total tasks: 66  
Task time (GC time): 33 min (4 s)  
Input cost: 307.9 MB  
Output cost: 175.8 KB  
Shuffle read: 12.2 MB  
Shuffle write: 16.2 MB  
Memory usage: 4.2 GB  
Total jobs: 11  

## Group 7  
* d = 50
* k = 10

Total run time: 175.733 s  
Executors: 4  
Cores: 8  
Total tasks: 68  
Task time (GC time): 12 min (2 s)  
Input cost: 312.4 MB  
Output cost: 175.8 KB  
Shuffle read: 6.1 MB  
Shuffle write: 8.2 MB  
Memory usage: 4.2 GB  
Total jobs: 11  

## Group 8  
* d = 100  
* k = 10  

Total run time: 305.958 s  
Executors: 4  
Cores: 8  
Total tasks: 68  
Task time (GC time): 32 min (3 s)  
Input cost: 308.2 MB  
Output cost: 175.8 KB  
Shuffle read: 12.2 MB  
Shuffle write: 16.2 MB  
Memory usage: 4.2 GB  
Total jobs: 11  

## Group 9  
* d = 50  
* k = 5  

Total run time: 111.472 s  
Executors: 8  
Cores: 16  
Total tasks: 76  
Task time (GC time): 13 min (5 s)  
Input cost: 312.1 MB  
Output cost: 175.8 KB  
Shuffle read: 7.2 MB  
Shuffle write: 8.2 MB  
Memory usage: 8 GB  
Total jobs: 11  

## Group 10  
* d = 100  
* k = 5  

Total run time: 205.977 s  
Executors: 8  
Cores: 16  
Total tasks: 76  
Task time (GC time): 37 min (6 s)  
Input cost: 231 MB  
Output cost: 175.8 KB  
Shuffle read: 14.2 MB  
Shuffle write: 16.2 MB  
Memory usage: 8 GB  
Total jobs: 11  

## Group 11  
* d = 50  
* k = 10  

Total run time: 125.425 s  
Executors: 8  
Cores: 16  
Total tasks: 70  
Task time (GC time): 13 min (5 s)  
Input cost: 235.8 MB  
Output cost: 175.8 KB  
Shuffle read: 7.2 MB  
Shuffle write: 8.2 MB  
Memory usage: 8 GB  
Total jobs: 11  

## Group 12  
* d = 100  
* k = 10  

Total run time: 266.386 s  
Executors: 8  
Cores: 16  
Total tasks: 76  
Task time (GC time): 38 min (6 s)  
Input cost: 259.5 MB  
Output cost: 175.8 KB  
Shuffle read: 13.5 MB  
Shuffle write: 15.4 MB  
Memory usage: 8 GB  
Total jobs: 11  